@import "tailwindcss";

/* Customização para navegadores baseados em WebKit (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
}

/* O "trilho" da barra de rolagem (fundo) */
::-webkit-scrollbar-track {
    background: #00254b;
    /* Uma cor clara, combinando com Tailwind (slate-100) */
}

/* O "polegar" (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
    background: #082f49;
    /* Cor sky-950 para combinar com o seu footer */
    border-radius: 5px;
    /* Deixa as bordas arredondadas */
}

/* O polegar quando você passa o mouse por cima */
::-webkit-scrollbar-thumb:hover {
    background: #003852;
    /* Cor sky-500 ao passar o mouse */
}

/* Suporte para Firefox */
* {
    scrollbar-width: thin;
    /* Deixa a barra mais fina */
    scrollbar-color: #004e83 #00254b;
    /* Cor do polegar e cor do trilho */
}